<div class="navbar">
  <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us" class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities" class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers" class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership" class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>
<div class="trainers">
  <h1>List of Trainers</h1>
  <form method="POST" action="/api/trainer">
    <p style="font-size: large;">Select the sport from the dropdown list below whose trainers you want to view:</p>
    <select for="trainer" class="trainer" name="sport" style="float: left;">
      <option value="athletics">Athletics</option>
      <option value="swimming">Swimming</option>
      <option value="boxing">Boxing</option>
      <option value="badminton">Badminton</option>
      <option value="shooting">Shooting</option>
      <option value="lawn-tennis">Lawn Tennis</option>
      <option value="gymnastics">Gymnastics</option>
      <option value="wrestling">Wrestling</option>
    </select> <br>
    <button type="submit" style="font-size:medium ;">View</button><br><br>
  </form>

  <ul>
    {{#each t }}
    <li>Name: 
      {{#each this}}
      {{name}}
    {{/each}}
    <br>Gender:
    {{#each this}}
    {{gender}}
    {{/each}}
    <br>Age:
    {{#each this}}
    {{age}}
    {{/each}}
    <br>Sport:
    {{#each this}}
    {{sport}}
    {{/each}}
    </li>
    {{/each}}
  </ul>
  {{!-- {{ t }} --}}